* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: inherit;
}

#navbar {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    font-size: 20px;
    position: fixed;
    width: 100%;
    top: 0;
}

#navbar-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    padding-right: 50px;
}

#navbar-list > li {
    margin: 10px 10px;
    padding: 18px 40px;
    display: flex;
    justify-content: center;
}

#welcome {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-bottom: 80px;
}

#welcome-header {
    margin-top: 80px;
}

#myPicture {
    margin-top: 20px;
    border-radius: 50%;
    max-width: 250px;
}

#welcome-name {
    margin-top: 50px;
}

#welcome-designation {
    margin-top: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

#contacts {
    display: flex;
    flex-direction: column;
}

#contacts > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.link-to-profile > img {
    max-width: 100px;
    border-style: double;
}